@page
@model farmacia_mym.Pages.Usuarios.CreateModel
@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "/Pages/Shared/AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="login-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" />
                <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Telefono" class="control-label"></label>
                <input asp-for="Usuario.Telefono" class="form-control" />
                <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Rol" class="control-label"></label>
                <input asp-for="Usuario.Rol" class="form-control" />
                <span asp-validation-for="Usuario.Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.User" class="control-label"></label>
                <input asp-for="Usuario.User" class="form-control" />
                <span asp-validation-for="Usuario.User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Clave" class="control-label"></label>
                <input asp-for="Usuario.Clave" type="password" class="form-control" />
                <span asp-validation-for="Usuario.Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la Lista</a>
</div>

